doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')

    title
      block title
        | #{site.title}

    meta(name='description', content=meta.description)

    // Facebook
    meta(property='og:title', content=meta.facebook.title)
    meta(property='og:description', content=meta.facebook.description)
    meta(property='og:site_name', content=site.name)
    meta(property='og:url', content=site.url)
    meta(property='og:type', content='product')
    meta(property='og:locale', content='en_US')
    meta(property='og:image', content=meta.facebook.image)
    meta(property='fb:app_id', content=meta.facebook.appid)

    // Twitter
    meta(name='twitter:title', content=meta.twitter.title)
    meta(name='twitter:description', content=meta.twitter.description)
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content=social.twitter.username)
    meta(name='twitter:image', content=meta.twitter.image)
    meta(name='twitter:url', content=site.url)

    link(rel='stylesheet', href='css/app.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css', type='text/css')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#33edc1")
    meta(name="theme-color", content="#ffffff")

    block style

    block headscript
    <!--[if lt IE 10]>
    script(src='/js/polyfill/html5-shiv.js')
    <![endif]-->

  body
    //(style='overflow:hidden')
    // Header
    block preheader

    block header
      header
        nav.right.buttons
          a.pre-order-button.button(href='https://github.com/hanzo-io/shop.js',target='_blank')
            span Fork on github
    main
      block content

    footer
      h4.built-by built by
      a.hanzo(href='https://hanzo.io')
        img(src='https://hanzo.io/img/logo.png')
        h1 Hanzo

      // nav.social
      //   ul
      //     li
      //       a#social-facebook(href='https://www.facebook.com/hanzo', target='_blank')
      //         i.fa.fa-facebook-square
      //     li
      //       a#social-twitter(href='https://twitter.com/hanzo', target='_blank')
      //         i.fa.fa-twitter

      // form.email-form
      //   script(src='')
      //   p Sign up for Hanzo Beta
      //   input(id='email', name='email', placeholder='YOUR E-MAIL')
      //   button(type='submit') SIGN&nbsp;UP
      //   .error

      small.copyright © Hanzo, LLC 2017
    include examples/_side-cart.pug
    include examples/_checkout-modal.pug


    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 10]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='/js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 9]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    block script

    script(src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js')
    script(src='/js/app.js')

    if production
      script.
        !function(t,e,a){var r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var e;return e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.hanzo.io/a/kpak.js");
      // script.
      //   !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      //   },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      //   a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      //   twq('init','nvqog');
      //   twq('track','PageView');
      // script(src='//cdn.ravenjs.com/3.8.1/raven.min.js')
      // script.
      //   Raven.config('//837350fb355a433ca68a1f6a298e70af@sentry.io/116363').install()
